GEMINI_API_KEY=
GROQ_API_KEY=
GROQ_API_KEY_1=
GROQ_API_KEY_2=
GROQ_API_KEY_3=
GROQ_API_KEY_4=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
SUPABASE_SERVICE_ROLE_KEY=
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
VITE_RAZORPAY_KEY_ID=
VITE_SUPABASE_ANON_KEY=
VITE_SUPABASE_URL=